.footer
  %a.social.fa.fa-rss{:href => "http://blog.focusstreak.com", :title => "Blog", :rel => "publisher"}
  %a.social.fa.fa-twitter{:href => "http://www.twitter.com/focusstreak", :title => "Twitter", :rel => "publisher"}
  %a.social.fa.fa-google-plus{:href => "http://plus.google.com/+FocusstreakOfficial", :title => "Google+", :rel => "publisher"}
  %a.social.fa.fa-facebook{:href => "http://www.facebook.com/focusstreak", :title => "Facebook", :rel => "publisher"}
  %a.social.fa.fa-github{:href => "http://github.com/focusstreak", :title => "Github", :rel => "publisher"}
  %br
  © 2013 Focus Streak. All rights reserved.
  %a{:href => "/tos"}
    Terms of use & Privacy policy
