%form{:action => "/forgot_password", :method => "post"}

  = Rack::Csrf.csrf_tag(env)

  .input-group
    %span.input-group-addon
      %i(class='fa fa-envelope')
    %input.form-control{:id => "user_email", :name => "email", :placeholder => "E-Mail", :type => 'email'}

  %br

  %button{:class => 'btn btn-info', :type => "submit"}
    Send me a new password
    %i(class='loginbox-icon fa fa-envelope icon-large')

