%h3 Productivity before. Productivity after.
%img{:src => "/images/chart-before.svg", :class => "chart", :alt => "Before chart"}
%img{:src => "/images/chart-after.svg", :class => "chart", :alt => "After chart"}
%br
%hr
%h4
  Our web browser extension magically turns your distraction heavy web-browser into a productivity inducing machine.

= haml :install_app
%h4 Eliminate distractions. Reclaim lost time. Focus on what matters.
