%script(src='/js/bowser.min.js')

%h3
  %div{:id => 'installer_title'}

%h4
  %div{:id => 'installer_content'}

:javascript
  function  chrome() {
    title.innerHTML = "<a href='#' onclick='install_plugin()'>Get started by clicking here to install our free extension.</a>";
    content.innerHTML = "<a href='#' onclick='install_plugin()'><img src='/images/3rdparty/ChromeWebStore_Badge_v2_496x150.png'></a>";
  }

  function firefox() {
    title.innerHTML = "Focus Streak <i class='fa fa-heart'></i> Firefox";
    content.innerHTML = "Good news: We are working on the Firefox plugin. Bad news: It's not dont yet.";
  }

  function other() {
    title.innerHTML = "";
    content.innerHTML = "...but your browser isn't supported :(";
  }

  var title = document.getElementById('installer_title');
  var content = document.getElementById('installer_content');

  if (document.getElementById("FOCUSSTREAK_INSTALLED")) {
    title.innerHTML = "<font color='green'><i class='fa fa-check'/>Extension Installed</font>";
  } else {
    if (bowser.chrome) {
      chrome();
    } else if (bowser.firefox) {
      firefox();
    } else {
      other();
    }
  }

  function install_plugin() {
    chrome.webstore.install('https://chrome.google.com/webstore/detail/mpifekaiabpalokkgbkeejmfofpohfdn', location.reload);
  }

%br
