%a{:href => 'https://chrome.google.com/webstore/detail/focus-streak/mpifekaiabpalokkgbkeejmfofpohfdn'}
  %h3
    Click to install our free Google Chrome™ extension.
    %br
  %img{:src => '/images/3rdparty/ChromeWebStore_Badge_v2_496x150.png'}
%br
%br
%h4
  Your personalized data will appear on this page once you've set up the extension and logged your first streak.
