%form{:action => "/login", :method => "post"}

  = Rack::Csrf.csrf_tag(env)

  .input-group
    %span.input-group-addon
      %i(class='fa fa-envelope')
    %input.form-control{:id => "user_email", :value => h(@email), :name => "email", :placeholder => "E-Mail", :type => 'text'}

  .input-group
    %span.input-group-addon
      %i(class='fa fa-key')
    %input.form-control{:id => "user_password", :name => "password", :placeholder => "Password", :type => "password"}

  <br>

  %button{:value => "Login", :class => 'btn btn-info', :type => "submit"}
    Login
    %i(class='loginbox-icon fa fa-arrow-right icon-large')

%hr
%a{:href => '/forgot_password'}
  I forgot my password.
