%form{:action => "/logout", :method => "get", :class => "navbar-form pull-right"}
  %button{:class => 'btn btn-warning', :type => 'submit', :value => 'Logout'}
    Logout
    %i(class='loginbox-icon fa fa-unlock icon-large')
