%h2
  - if oauth.client.image_url
    %img{:src => oauth.client.image_url}

  The application:
  %br
  %a{:href => oauth.client.link}
    "#{oauth.client.display_name}"
  %br
  = "would like to use your Focus Streak account."

%br

%div{:class => 'container'}
  %div{:class => 'row'}

    %div{:class => 'col-md-4 col-md-offset-2'}
      %form{:action => "/oauth/deny", :method => "post"}
        = Rack::Csrf.csrf_tag(env)
        %button{:class => "btn btn-danger btn-lg"}
          No, don't Allow
          %i(class='loginbox-icon fa fa-thumbs-down icon-large')
        %input{:type => 'hidden', :name => 'authorization', :value => oauth.authorization}


    %div{:class => 'col-md-4'}
      %form{:action => "/oauth/grant", :method => "post"}
        = Rack::Csrf.csrf_tag(env)
        %button{:class => "btn btn-success btn-lg"}
          Yes, that's fine
          %i(class='loginbox-icon fa fa-thumbs-up icon-large')
        %input{:type => 'hidden', :name => 'authorization', :value => oauth.authorization}

