%form{:action => "/reset_password", :method => "post"}
  = Rack::Csrf.csrf_tag(env)
  %input{:type => 'hidden', :name => 'secret', :value => params[:secret]}

  .input-group
    %span.input-group-addon
      %i(class='fa fa-key')
    %input.form-control{:placeholder => "New Password", :name => "password", :size => 30, :type => "password" }

  .input-group
    %span.input-group-addon
      %i(class='fa fa-key')
    %input.form-control{:placeholder => "Confirm New Password", :name => "confirmation", :size => 30, :type => "password" }

  %br

  %button{:value => "Save Settings", :class => 'btn-warning btn', :type => "submit"}
    Apply Changes
    %i(class='loginbox-icon fa fa-wrench icon-large')
