%h3
  = @user.email

%form{:action => "/settings", :method => "post"}
  = Rack::Csrf.csrf_tag(env)

  %span.alert.alert-info{:style => 'display: inline-block;'}
    %h5 Change Password
    .input-group
      %span.input-group-addon
        %i(class='fa fa-key')
      %input.form-control{:placeholder => "New Password", :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }

    .input-group
      %span.input-group-addon
        %i(class='fa fa-key')
      %input.form-control{:placeholder => "Confirm New Password", :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }

  %hr

  %span.alert.alert-warning{:style => 'display: inline-block; text-align:center;'}
    .input-group
      %span.input-group-addon
        %i(class='fa fa-key')
      %input.form-control{:placeholder => "Current Password", :id => "old_password", :name => "old_password", :size => 30, :type => "password" }
    %br
    %button{:value => "Save Settings", :class => 'btn-warning btn', :type => "submit"}
      Apply Changes
      %i(class='loginbox-icon fa fa-wrench icon-large')

.pull-right
  %button{:value => "Delete account", :href => "#confirm_delete", 'data-toggle' => 'modal', :class => 'btn-danger btn'}
    Delete Account
    %i(class='loginbox-icon fa fa-trash-o icon-large')

.modal.fade{:id => 'confirm_delete', 'tabindex' => '-1', :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', 'data-dismiss' => 'modal'}
          &times;
        %h2 Sorry to see you go!
      .modal-body
        = haml :delete_account
      .modal-footer
        %button.btn{'data-dismiss' => 'modal'}
          Cancel
