%form{:action => "/signup", :method => "post"}

  = Rack::Csrf.csrf_tag(env)

  .input-group
    %span.input-group-addon
      %i(class='fa fa-envelope')
    %input.form-control{:id => "user_email", :value => h(@email), :name => "user[email]", :placeholder => "E-Mail", :type => 'email'}

  .input-group
    %span.input-group-addon
      %i(class='fa fa-key')
    %input.form-control{:id => "user_password", :name => "user[password]", :placeholder => "Password", :type => "password"}

  .input-group
    %span.input-group-addon
      %i(class='fa fa-key')
    %input.form-control{:id => "user_password_confirmation", :name => "user[password_confirmation]", :placeholder => "Confirm Password", :type => "password"}

  .checkbox
    %label
      %input{:id => "tos", :name => 'tos', :type => 'checkbox', :value => ''}
      I agree to the
      %a{:href => '#tocModal', 'data-toggle' => 'modal'}
        Terms and Conditions

  %button{:value => "Sign up", :class => 'btn-success btn', :type => "submit"}
    Sign up
    %i(class='loginbox-icon fa fa-bolt icon-large')

.modal.fade{:id => 'tocModal', 'tabindex' => '-1', :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', 'data-dismiss' => 'modal'}
          &times;
        %h2 Terms and Conditions
      .modal-body
        = haml :tos
      .modal-footer
        %button.btn{'data-dismiss' => 'modal'}
          Close
