%h3 Terms of Service
Focus Streak services and software are provided and distributed in the hope that they will be useful, but without any warranty; without even the implied warranty of merchant ability or fitness for a particular purpose.
%br
%br
By accessing this site and/or using Focus Streak software, you agree to not attempt any malicious activity against Focus Streak or Focus Streak's users. Furthermore, you agree not to hold Focus Streak responsible for anything at all anytime, anywhere.
It's up to you to abide by the law in your jurisdiction, and Focus Streak is in no way accountable for your actions.
%hr

%h3 Privacy
%h4 What information do you collect?
Other than the data you give us directly (email address, password, etc) or via our software you download (browser extension for example) - our website also automatically captures information about your computer. (browser, OS, IP, etc.)

%h4 How do you collect the information?
We use cookies and analytics services. Focus Streak software which you download transmits data to our servers over an encrypted (SSL) connection.

%h4 How do you use the information?
To manage user authentication, provide features, as well as improving our services. We do not sell user data to any third parties.

%h4 What control do users have over their personal data?
You may delete your account at any time from our servers via the
%a{:href => "/settings"}
  settings
page.

%h4 How do you protect users' information?
The Focus Streak servers are protected to the best of our abilities. We utilize SSL to mitigate eavesdropping attacks on our users.
User passwords are
%a{:href => "http://en.wikipedia.org/wiki/Salt_(cryptography)"}
  salted
for protection in the unlikely event of an intrusion of our services.

%hr
%h3 Changes
The terms and conditions and privacy policy may change at any time without notice.
